﻿@{

    Layout = null;
}

<html>
<head>
    <title>Test Scan</title>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <form id="myform" enctype="multipart/form-data" method="post">
        <button id="acquire" class="btn btn-primary" type="button">Acquire</button>
        <button id="postFiles" class="btn btn-primary" type="submit">Post Files</button>
        <div class="container" id="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" id="image_0" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
            
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive"  id="image_1" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
            
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive"  id="image_2" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive"  id="image_3" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
            </div>
        </div>
    </form>
    <script>
        jQuery.support.cors = true;
        $(function () {
            var index = 0;
            $('#acquire').click(function () {
                $.ajax({
                    url: "http://localhost:9090/scan/scanfile",
                    type: "POST",
                    dataType: "JSON",
                    success: function (response) {
                       
                        var imgID = "#image_" + index; 
                        $(imgID).attr("src", "data:image/jpeg;base64," + response.ScanFileResult) 
                        $("<input/>", {
                            type: "hidden",
                            value: encodeURIComponent(response.ScanFileResult),
                            id:  "hidden_" +index,
                            name: "hidden_" + index
                        })
                      .appendTo("#myform");
                       index = index + 1;
                    },
                    error: function (xhr, status) {
                        alert("error");
                    }
                });
            });


            $("#postFiles").click(function (e) {
                $.ajax({

                    url: "/Scan/PostFiles",
                    dataType: "JSON",
                    type: "POST",
                    data: $('#myform').serialize(),
                    success: function (response) {
                        alert("success");

                    },
                    error: function (xhr, status) {
                        alert("error");
                    }
                });

                e.preventDefault();
            });
        });
    </script>
</body>

</html>
